# Created by .ignore support plugin (hsz.mobi)
*.pyc
*.pyo
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
logs
.idea
__pycache__/
.python-version
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
bower_components/
npm-debug.log
celerybeat-schedule
wheelhouse/
app/static/upload
.lprof